mixin header(title, cssHref) {
    doctype
    html(lang='en')
        head
            meta(charset='utf-8')
            title = title
            link(rel="stylesheet", href = cssHref, attr)
        body
} 