doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Kerosine Price watch
    body
        //- Main story container 
        .story__container 
        h1.section__heading

        //- Paragraph 1
        p.content 
            | Household Kerosine sold and average of {price per litre}
            | in the month of {month},  Year.
            | This shows an {increase/decrease} in the price at which it was sold in {month}, {year}.

        //- Paragraph 2
        p.content 
            | Data from NBS shows that an {increase/decrease} by {percentage}
            | in the price of kerosine over the previous month.

        //- Paragraph 3
        p.content 
            | The average price of a gallon (4.5 liters) sold for (Nxxx) in {month}, {year}.
            | as against the price of Nxxx at which it was sold in {month}, {year}.
            | This signifies {percentage {increase/decrease} in the price over the previous month.

        //- Paragraph 4
        p.content 
            | The price at which a liter of kerosene was sold in {month}, {year} varies from state to state

        //- Paragraph 5
        p.content 
            | On a year-on-year basis, the average price of a liter of household kerosene {increased/decreased} 
            | from Nxxx in {month}, {year} to Nxxx in {month}, {year}.
            | This represents {percentage} {increase/decrease} in the price in {month}, {year} over the same period in {year}.
        
        //- Paragraph 6
        p.comntent 
            | Data review shows that the average price change of a gallon of kerosene
            | on a year-on-year basis was …% in {month}, {year}. The price per gallon
            | {increase/decrease} from Nxxx in {month}, {year} to Nxxx {month}, {year}.
            
        //- Paragraph 7
        p.content 
            | Household kerosene sold in liters was more expensive in {state} in the month of {month}, {year}.
            | Citizens in the state purchased a liter of kerosine for {price}.
        
        //- Paragraph 8
        p.content 
            | In {state}, a liter of kerosene was sold at Nxxx in {month}, {year} in second place.
            | {state} citizens bought a liter of kerosene at Nxxx to be placed in third place.
        
        //- Paragraph 9
        p.content 
            | However, a liter of kerosene was sold at Nxxx in {state} to account for the state with the lowest prices.
         
        //- Paragraph 10
        p.content 
            | Next to {state} is {state} and {state} as the other two states with lower prices.
            | A liter of kerosene was sold at {price} and {price} in these states, respectively, to place second and third.
        
        //- Paragraph 11
        p.content 
            | Those that purchased kerosene in gallons paid most for it in {state}.
            | A gallon of kerosene was sold for Nxxx in the state in {month}, {year}.
        
        //- Paragraph 12
        p.content 
            | {state} and {state} are the other states where a gallon of kerosene was sold more expensive.
            | The prices at which a gallon of kerosene was sold were Nxxx and Nxxx in {state} and {state}, respectively.
            
        //- Paragraph 13
        p.content 
            | However, those in {state}, {state}, and {state} were able to purchase a gallon of kerosene cheaper.
            | They got it for Nxxx, Nxxx, and Nxxx respectively in {month}, {year}.