<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TEST STORIES</title>
    <style>
      .container__story {
        margin: 40px 0;
        background-color: rgba(26, 208, 141, 0.2);
        padding: 40px 20px;
        border-radius: 18px;
        box-shadow: 6px 18px 40px rgba(0, 0, 0, 0.2);
      }
      .list__heading {
        font-size: 22px;
        color: green;
        text-decoration: underline;
        cursor: pointer;
        transition: 300ms all ease-out;
      }

      .list__heading:hover {
        color: blue;
      }
    </style>
  </head>
  <body>
    <h1>NUBIA STORIES</h1>
    <div
      id="story__holder"
      style="
        padding: 10px 30px;
        border: 1px solid gray;
        margin: 10px;
        box-shadow: 4px 8px 32px rgba(0, 0, 0, 0.3);
        border-radius: 12px;
      "
    >
      Loading...
    </div>
    <script>
      (async () => {
        await fetch('http://localhost:8000/faac')
          .then((res) => res.json())
          .then((res) => {
            document.getElementById('story__holder').innerHTML =
              res.data.template;
            console.log(res.data.classnames);
          });
      })();

      const StoryHolder = document.getElementById('story__holder');
      console.log(StoryHolder);
    </script>
  </body>
</html>
